<footer>
    <p>
        POKEMON<br />
        Gotta Catch 'Em All
    </p>
    <div class="Social-Icons">
        <a href="https://github.com/s0wee" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://facebook.com/kyleee.acosta" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/s0weee" target="_blank" class="icon-link">
              <i class="fab fa-instagram"></i>
            </a>
    </div>
    <p> &copy; 2023 AcostaPokemon. All Rights Reserved.</p>
    </footer>